.col-campaign-id {
    width: 75px;
}


.campaign-builder .btns-builder {
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 1040;
}

.campaign-builder .builder-content {
    right: 0;
}

.campaign-builder #builder-errors {
    position: fixed;
    top: 52px;
    right: 30px;
    z-index: 1040;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
}

#CampaignEvent_newsource_hide {
    display: none;
}

#CampaignEventPanel {
    position: absolute;
    padding: 10px 20px;
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    z-index:1035;
}

#CampaignEventPanelLists .disabled-result {
    display: none;
}

#CampaignEventPanelGroups .panel-body {
    height: 150px;
}

.jtk-endpoint {
    z-index: 1005;
}

.jtk-endpoint.dragActive {
    /* changes endpoint when dragging connector */
}

.jtk-label {
    background-color: white;
    opacity:0.9;
    padding:0.3em;
    border-radius:0.5em;
    border: 1px solid #47535f;
    cursor:pointer;
    z-index: 1004;
    color: #47535f;
}

.jtk-connector {
    z-index: 1000;
}

.jtk-clickable_anchor {
    cursor: pointer;
    z-index: 1050;
}

.jtk-endpoint svg text {
    display: none;
}

.jtk-clickable_anchor svg text {
    display: block;
}

.jtk-surface {
    overflow: hidden !important;
    position: relative;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    touch-action:none;
}

.jtk-surface-nopan {
    overflow: scroll !important;
    cursor:default;
}

.list-campaign-event, .list-campaign-source {
    width: 200px;
    height: 45px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    background: #FFFFFF;
    border-radius: 3px;
}

.live .list-campaign-event:hover, .live .list-campaign-source:hover {
    border:1px solid #123456;
    /*
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
    */
}

.campaign-event-buttons {
    position: absolute;
    top: -10px;
    right: -10px;
}

.campaign-event-buttons .btn {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.list-campaign-event .campaign-event-name {
    overflow: hidden;
    white-space: nowrap;
}

.list-campaign-decision {
    /*background-color: #e5ffff;*/
    border: solid 1px #00b49d;
}

.list-campaign-condition {
    /*background-color: #ffe9d1;*/
    border: solid 1px #ffb79f;
}

.list-campaign-action {
    /*background-color: #cdddff;*/
    border: solid 1px #9babeb;
    /*color: #fff;*/
}

.list-campaign-leadsource {
    /*background-color: #ffffe6;*/
    border: solid 1px #fdb933;
    /*color: #fff;*/
}

#CampaignEventSelector_chosen .list-campaign-action,
#CampaignEventSelector_chosen .list-campaign-condition,
#CampaignEventSelector_chosen .list-campaign-decision,
#CampaignEventSelector_chosen .list-campaign-leadsource {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 5px;
}

#CampaignEventSelector_chosen .disabled-result {
    display: none;
}

.campaign-builder .list-group-item.ui-draggable-dragging {
    width: 206px;
    padding: 10px 15px;
    border-radius: 6px;
}

.campaign-builder .builder-active {
    height: 10000px !important;
}

.campaign-builder .builder-content {
    height: auto;
    width: auto;
    bottom: 0;
    overflow: auto;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
    position: relative;
}

.campaign-event-list .progress-bar {
    position: absolute;
    top: 0;
    height: 3px;
}

.campaign-event-buttons .btn-edit {
    background: #337ab7;
}

.stat-boxes .pie-legend li {
    display: inline;
}

.preview .builder-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.preview .builder-active {
    width: 100%;
    height: auto;
    position: relative;
}

.preview .list-campaign-event, .preview  .list-campaign-source {
    width: auto;
    height: 45px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    background: #FFFFFF;
    border-radius: 3px;
}

.preview .list-campaign-event {
    height: 54px;
}

.preview .list-campaign-source {
    height: 45px;
}

.preview .jtk-endpoint {
    cursor: default;
}

.preview .jtk-endpoint svg {
    display: none;
}

.preview .list-campaign-event .campaign-event-name {
    line-height: 14px;
}

#preview-container {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.campaign-event-logic {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
}

.list-campaign-decision .campaign-event-logic {
    color: #00b49d;
}

.list-campaign-condition .campaign-event-logic {
    color: #ffb79f;
}

.list-campaign-action .campaign-event-logic {
    color: #9babeb;
}

/* Custom Campaign - Alan Mosko */
#CampaignCanvas {
    background-image: linear-gradient(to right, #ecf4f6 1px, transparent 1px), linear-gradient(to bottom, #ecf4f6 1px, transparent 1px);
    background-position: 0 0;
    background-size: 25px 25px;
}

/* Preview */
#CampaignCanvas .preview .list-campaign-event, #CampaignCanvas .preview .list-campaign-source {
    width: 125px;
    height: 100px;
}

/* Campaign Builder */
#CampaignCanvas .list-campaign-event, #CampaignCanvas .list-campaign-leadsource {
    font-size: 12px;
    width: 100px;
    height: 75px;
    padding: 7px 5px;
    transition: box-shadow 0.4s ease;
    text-align: center;
}
#CampaignCanvas .list-campaign-leadsource {
    width: 150px;
    height: 75px;
}

#CampaignCanvas svg circle {
    transition: all .4s ease;
}

/* Source */
#CampaignCanvas .list-campaign-leadsource .campaign-event-name i {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 calc(50% - 20px) 5px;
    color: #f9b74f;
    border-radius: 50%;
    background: rgba(249, 183, 79, .15);
}
#CampaignCanvas .list-campaign-leadsource.CampaignEvent_lists .campaign-event-name i::before {
    content: '\f200';
}
#CampaignCanvas .list-campaign-leadsource.CampaignEvent_forms .campaign-event-name i::before {
    content: '\f298';
}

/* Events */
#CampaignCanvas .list-campaign-event > .campaign-event-content::before {
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 50%;
}
#CampaignCanvas .list-campaign-action > .campaign-event-content::before {
    color: #505f99;
    background: rgba(81, 97, 149, .15);
}
#CampaignCanvas .list-campaign-decision > .campaign-event-content::before {
    color: #2ab29d;
    background: rgba(42, 178, 157, .15);
}
#CampaignCanvas .list-campaign-condition > .campaign-event-content::before {
    color: #f86b4f;
    background: rgba(248, 107, 79, .15);
}
#CampaignCanvas .list-campaign-leadsource:hover {
    box-shadow: 0 0 10px 5px rgba(249, 183, 79, .25);
}
#CampaignCanvas .list-campaign-action:hover {
    box-shadow: 0 0 10px 5px rgba(81, 97, 149, .25);
}
#CampaignCanvas .list-campaign-decision:hover {
    box-shadow: 0 0 10px 5px rgba(42, 178, 157, .25);
}
#CampaignCanvas .list-campaign-condition:hover {
    box-shadow: 0 0 10px 5px rgba(248, 107, 79, .25);
}

/* Buttons */
.btn-apply-builder::before, .btn-close-campaign-builder::before {
    font-family: FontAwesome;
    margin-right: 5px;
}
.btn-apply-builder::before {
    content: '\f0c7';
}
.btn-close-campaign-builder::before {
    content: '\f00d';
}


#CampaignCanvas .campaign-event-buttons {
    top: 0;
    right: 0;
    width: 100%;
}
#CampaignCanvas .campaign-event-buttons .btn-edit {
    float: left;
    border-radius: 0 0 10px 0;
}
#CampaignCanvas .campaign-event-buttons .btn-delete {
    float: right;
    border-radius: 0 0 0 10px;
}

/* Actions */
#CampaignCanvas .list-campaign-action[data-event='lead.addtocompany'] > .campaign-event-content::before {
    content: '\f1ad';
}
#CampaignCanvas .list-campaign-action[data-event='lead.changepoints'] > .campaign-event-content::before {
    content: '\f1ec';
}
#CampaignCanvas .list-campaign-action[data-event='stage.change'] > .campaign-event-content::before {
    content: '\f0e4';
}
#CampaignCanvas .list-campaign-action[data-event='lead.deletecontact'] > .campaign-event-content::before {
    content: '\f014';
    color: #f86b4f;
    background: rgba(248, 107, 79, .15);
}
#CampaignCanvas .list-campaign-action[data-event='campaign.addremovelead'] > .campaign-event-content::before {
    content: '\f0e8';
}
#CampaignCanvas .list-campaign-action[data-event='lead.changetags'] > .campaign-event-content::before {
    content: '\f02c';
}
#CampaignCanvas .list-campaign-action[data-event='lead.scorecontactscompanies'] > .campaign-event-content::before {
    content: '\f1ec';
}
#CampaignCanvas .list-campaign-action[data-event='lead.changelist'] > .campaign-event-content::before {
    content: '\f200';
}
#CampaignCanvas .list-campaign-action[data-event='plugin.leadpush'] > .campaign-event-content::before {
    content: '\f1e6';
}
#CampaignCanvas .list-campaign-action[data-event='campaign.sendwebhook'] > .campaign-event-content::before {
    content: '\f0ec';
}
#CampaignCanvas .list-campaign-action[data-event='email.send'] > .campaign-event-content::before {
    content: '\f1d8';
}
#CampaignCanvas .list-campaign-action[data-event='email.send.to.user'] > .campaign-event-content::before {
    content: '\f1d8';
}
#CampaignCanvas .list-campaign-action[data-event='message.send'] > .campaign-event-content::before {
    content: '\f27a';
}
#CampaignCanvas .list-campaign-action[data-event='notification.send_notification'] > .campaign-event-content::before {
    content: '\f0f3';
}
#CampaignCanvas .list-campaign-action[data-event='twitter.tweet'] > .campaign-event-content::before {
    content: '\f079';
}
#CampaignCanvas .list-campaign-action[data-event='lead.updatelead'] > .campaign-event-content::before {
    content: '\f044';
}
#CampaignCanvas .list-campaign-action[data-event='lead.changeowner'] > .campaign-event-content::before {
    content: '\f2b9';
}

/* Decision */
#CampaignCanvas .list-campaign-decision[data-event='email.click'] > .campaign-event-content::before {
    content: '\f0a6';
}
#CampaignCanvas .list-campaign-decision[data-event='page.devicehit'] > .campaign-event-content::before {
    content: '\f109';
}
#CampaignCanvas .list-campaign-decision[data-event='asset.download'] > .campaign-event-content::before {
    content: '\f019';
}
#CampaignCanvas .list-campaign-decision[data-event='email.open'] > .campaign-event-content::before {
    content: '\f2b6';
}
#CampaignCanvas .list-campaign-decision[data-event='email.reply'] > .campaign-event-content::before {
    content: '\f122';
}
#CampaignCanvas .list-campaign-decision[data-event='dwc.decision'] > .campaign-event-content::before {
    content: '\f2bb';
}
#CampaignCanvas .list-campaign-decision[data-event='form.submit'] > .campaign-event-content::before {
    content: '\f298';
}
#CampaignCanvas .list-campaign-decision[data-event='page.pagehit'] > .campaign-event-content::before {
    content: '\f21d';
}

/* Condition */
#CampaignCanvas .list-campaign-condition[data-event='lead.campaigns'] > .campaign-event-content::before {
    content: '\f0e8';
}
#CampaignCanvas .list-campaign-condition[data-event='lead.device'] > .campaign-event-content::before {
    content: '\f109';
}
#CampaignCanvas .list-campaign-condition[data-event='lead.field_value'] > .campaign-event-content::before {
    content: '\f2c1';
}
#CampaignCanvas .list-campaign-condition[data-event='lead.owner'] > .campaign-event-content::before {
    content: '\f2b9';
}
#CampaignCanvas .list-campaign-condition[data-event='lead.segments'] > .campaign-event-content::before {
    content: '\f200';
}
#CampaignCanvas .list-campaign-condition[data-event='lead.tags'] > .campaign-event-content::before {
    content: '\f02c';
}
#CampaignCanvas .list-campaign-condition[data-event='form.field_value'] > .campaign-event-content::before {
    content: '\f298';
}
#CampaignCanvas .list-campaign-condition[data-event='email.validate.address'] > .campaign-event-content::before {
    content: '\f058';
}
/* Connector */
#CampaignCanvas .jtk-label {
    font-size: 10px;
    padding: 3px 5px;
    line-height: 16px;
    border-radius: 4px;
}

#CampaignCanvas .jtk-label::before {
    font-family: FontAwesome;
    font-size: 12px;
    content: '\f017';
    line-height: 16px;
    margin-right: 5px;
}
